@charset "utf-8";
/* CSS Document */

html {
  background-color: #EDEBDE;

}

html body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:14px;
  color:#333;
  height 100px;
  background-color: #EDEBDE;

}

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.topbar {
  font-size:13px;
}

.topbar div > ul .active > a, .nav .active > a {
  font-size:13px;
  margin:5px 0 0 0;
  cursor: pointer;
  display: inline-block;
  background-color: #131313;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px #1f1f1f;
  color: #CCC;
  line-height: normal;
  border: 1px solid #1f1f1f;
  border-bottom-color: #141414;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

h1.header {
  color: #CCC;
}

.content {
  padding-top: 60px;
}

.row.video, .row.video div {
  height: 360px;
}

.play_pause {
  line-height: 50px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;

  float:left;
  height:50px;
  width: 54px;
}

.progress_background {
  width:450px;
  float:left;
  background-color:yellow;
  height: 50px;
}

.time_info {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  float:left;
  width: 136px;
}

.dark_bar_gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #454545), color-stop(50%, #555555), color-stop(50%, #393939), color-stop(100%, #232122 ));
  color: #D3D3D3;
}

.light_bar_gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #807E80), color-stop(50%, #8C8D8F), color-stop(50%, #797A7E), color-stop(100%, #3E3E3E ));
}

.controls {
  margin-top:4px;
}

.btn.video_control{
  color:#CCC;
  background-color:#292526;
  background-repeat: repeat-x;

  background-image: -khtml-gradient(linear, left top, left bottom, from(#727377), to(#292526));
  background-image: -moz-linear-gradient(top, #727377, #292526);
  background-image: -ms-linear-gradient(top, #727377, #292526);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #727377), color-stop(100%, #292526));
  background-image: -webkit-linear-gradient(top, #727377, #292526);
  background-image: -o-linear-gradient(top, #727377, #292526);
  background-image: linear-gradient(top, #727377, #292526);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#727377', endColorstr='#292526', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #292526 #292526 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.record {
/* like video control ^^^^^ with colors from .btn-rec */
}



.btn-rec {
  /*
  text-align:center;
  width:150px;
  color:#CCC;
  font-size:18px;
  font-weight:bold;
  line-height:normal;
  margin:10px 0 0 5px;
  cursor:pointer;
  display:inline-block;
  background-color:#239800;
  background-repeat:no-repeat;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#50b930), color-stop(25%, #ffffff), to(#239800));
  background-image:-webkit-linear-gradient(#50b930, #50b930 25%, #239800);
  background-image:-moz-linear-gradient(top, #50b930, #50b930 25%, #239800);
  background-image:-ms-linear-gradient(#50b930, #50b930 25%, #239800);
  background-image:-o-linear-gradient(#50b930, #50b930 25%, #239800);
  background-image:linear-gradient(#50b930, #50b930 25%, #239800);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#76dd57', endColorstr='#239800', GradientType=0);
  padding:7px 0px 9px;
  text-shadow:0 1px 1px rgba(25, 25, 25, 0.75);
  border:1px solid #ccc;
  border-bottom-color:#bbb;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition:0.1s linear all;
  -moz-transition:0.1s linear all;
  -ms-transition:0.1s linear all;
  -o-transition:0.1s linear all;
  transition:0.1s linear all;
  */
}

footer {
  color:#FFF;
  height: 100px;
  text-align:center;
  border: 0;
}


